@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {

}

body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */


/* ヘッダー部分のコーディング */
header{
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  position: fixed;
  top: 0;
}

.logo_cover{
  width: 35%;
  height: 40px;
  background-color: white;
  clip-path: polygon(-2000% 100%, 17.5% 0%, 82.5% 0%, 100% 100%);
  padding: 5px;
}

.logo_cover img{
  width: 100px;
  height: 30px;
  margin-left: 25%;
}

/* ui部分 */
.header_ui_btns{
  width: 63%;
  display: flex;
  justify-content: flex-end;
}

.header_ui_btn{
  width: 10%;
  margin: 10px 5% 0 0;
}

.header_ui_btn img{
  height: 30px;
  width: 30px;
}

.header_ui_btn img:hover{
  opacity: 0.5;
  border-bottom: 5px solid #90000e;
  cursor: pointer;
}

/* h1 */
h1{
  font-weight: bold;
  font-size: 30px;
}


/* ユーザーネーム */

.user_name_info{
  display: flex;
  height: 20px;
  margin: 60px 0 0 10%;
}

.tag_a{
  font-size: 25px;
  margin: 6px 1% 0 0;
}

/* フォローボタン */

#follow_btn{
  height: 30px;
  width: 100%;
  background-color: #04e3d0;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  margin:20px 0 20px 0;
}

#follow_btn.isActive{
  background-color: #90000e;
}

/* アカウント情報 */

.user_acount_info{
  width: 76%;
  height: 250px;
  display: flex;
  margin: 50px 0 0 10%;
  border-bottom: 1px solid black;
}

.user_profeal img{
  height: 120px;
  border-radius: 50%;
}

.user_profeal h1{
  text-align: center;
}
/* フォローや投稿の状況 */

.post_follower_side{
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: 0 10% 0 10%;
}

.post_follower_info p{
  text-align: center;
}
/* 共通項目 */

h2{
  width: 70%;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3px;
}

/* 過去の投稿（foreach分で回す）*/

.posted_collection{
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.posted_item{
  width: 30%;
  margin: 100px 5% 100px 0;
}

.item_tag_cover{
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #f1f1f1;
  padding: 5px;
}

.tag{
  width: 10%;
  font-size: 20px;
  margin: 5px 0 0 5%;
}

.posted_item_img img{
  width: 100%;
  height: 300px
}

.posted_item_img img:hover{
  opacity: 0.5;
}


/* フッター */

footer{
  width: 100%;
  height: 50px;
  background-color: black;
  padding: 5px 0 5px 0;
  position: fixed;
  bottom: 0;
}

.footer_inner{
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  clip-path: polygon(0% 100%, 5.5% 0%, 94.5% 0%, 100% 100%);
  padding: 5px;
}


.footer_ui_btn{
  width: 15%;
}

.footer_ui_btn img{
  height: 30px;
  width: 20%;
  margin: 0 auto;
}

.footer_ui_btn img:hover{
  opacity: 0.5;
  cursor: pointer;
}

#profeal_btn{
  width: 15%;
}

#profeal_btn img{
  border-radius: 50%;
  height: 30px;
  width: 20%;
  margin: 0 auto;
}

#profeal_btn img:hover{
  opacity: 0.5;
}

.footer_btn_line{
  height: 5px;
  width: 20%;
  margin: 3px 40% 0 40%;
  background-color: #90000e;
}




@media (max-width: 600px){

  .logo_cover{
    clip-path: polygon(-2000% 100%, 17.5% 0%, 100% 0%, 70% 100%);
  }

  .logo_cover img{
    width: 40%;
    height: 25px;
    margin-top: 5px;
  }

  .header_ui_btn img{
    width: 60%;
    height: 20px;
    margin-top: 3px;
  }

  .user_acount_info{
    height: 150px;
  }

  .tag_a{
    font-size: 18px;
  }

  h1{
    font-size: 20px
  }
  .user_profeal img{
    height: 65px;
    margin-left: 10%;
  }

  .posted_item{
    margin: 50px 5% 100px 0;
  }

  .user_acount_info{
    height: 190px;
  }

  #follow_btn{
    width: 140%;
    font-size: 10px;
  }



  .post_follower_side{
    width: 80%;
  }

  .post_follower_info p{
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
  }
  .item_tag_cover{
    height: 20px;
    padding: 1px;
  }

  .tag{
    font-size: 8px;
    margin: 3px 0 0 3%;
  }

  h2{
    font-size: 10px;
    margin:3px 0 0 0;
  }

  .posted_item_img img{
    height: 120px;
  }

  .footer_ui_btn{
    width: 20%;
  }

  .footer_ui_btn img{
    height: 20px;
  }

  #profeal_btn{
    width: 23%;
  }

  #profeal_btn img{
    border-radius: 50%;
    height: 20px;
    width: 20%;
    margin: 0 auto;
  }

  .footer_btn_line{
    height: 5px;
    width: 20%;
    margin: 1px 40% 0 40%;
    background-color: #90000e;
  }

}
